* {
    margin: 0;
    font-size: 20px;
}
header {
    text-align: center;
    color: blue;
    padding: 5px;
}
#table table{
    border: 1px solid black;
    margin: 30px;
    width: 40%;
    border-collapse: collapse;
    
    
}
#table th,td {
    border: 1px solid black;
    text-align: center;
}
#table th {
    background-color: teal;
    color: white;
}
